@keyframes fadeIn {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.mainDivOfAbout{
    animation-name: fadeIn;
    animation-duration: 2s;
    background-image: linear-gradient(180deg, indigo, orange);
}

.generalFrame
{
    min-height: 170vh !important;
    min-width: 100%;
    background-image: linear-gradient(180deg, indigo, orange); 
    overflow: auto;
}

.generalInformation
{
   margin-top: 100px; 
   width: 96%;
   border: 2px solid black; 
   background-color: aliceblue;
   margin-left:auto;
   margin-right: auto;
   border-radius: 12px;
   /* display: grid;
   grid-template-columns: 2fr 4fr; */
}

.innerGenInfFrame
{
    margin-top: 5%;
}

.generalInformationTextContent{
    /* display: table-cell; */
}


.myPicFrame
{
    margin: auto;
    width: 50%;
    overflow: auto;
    text-align: center;
}

.cvRes
{
    border-radius: 50%;
}

.email
{
    margin-bottom: 175px;
    padding: 0;
}


.workExperience
{
   margin-top: 40px; 
   width: 96%;
   min-height: 50vh;
   border: 2px solid black; 
   background-color: aliceblue;
   margin-left:auto;
   margin-right: auto;
   border-radius: 12px;
}

.usedTechnologies{
    list-style-type: none;
}

.setWorkExpBckClr
{
    background-color: skyblue;
    border-radius: 12px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border: 2px solid orange;
}

.schoolFrame
{
    margin-top: 40px; 
    margin-bottom: 40px;
    width: 96%;
    min-height: 30vh;
    border: 2px solid black; 
    background-color: aliceblue;
    margin-left:auto;
    margin-right: auto;
    border-radius: 12px;

}

.imgFrame
{
    margin-top: 2%;
}


.uniLogo
{
    margin-left: auto;
    display: flex;
    border-radius: 50%;
}

.foreignLanguage{
    margin-top: 40px; 
    margin-bottom: 40px;
    width: 96%;
    min-height: 30vh;
    border: 2px solid black; 
    background-color: aliceblue;
    margin-left:auto;
    margin-right: auto;
    border-radius: 12px;
    overflow-x: auto;
}

.setTableWidth
{
    max-width: none;
}

.setTdWidth
{
    word-break:break-all;
}

.programmingSkills
{
    margin-top: 40px; 
    margin-bottom: 40px;
    width: 96%;
    min-height: 30vh;
    background-color: aliceblue;
    border: 2px solid black; 
    margin-left:auto;
    margin-right: auto;
    border-radius: 12px;
    overflow-x: hidden;
    align-items: center;
    text-align: center;
}

.programmingSkillsFrame
{
    width: 39%;
    margin:auto;
    list-style-type: none;
    overflow: hidden;
    align-items: center;
}