@keyframes fadeIn {
    0%{
        opacity: 0;
        visibility: hidden;
    }
    100%{
        opacity: 1;
        visibility: visible;
    }
}

.mainDivOfThesis{
    animation-name: fadeIn;
    animation-duration: 2s;
    background-image: linear-gradient(180deg, indigo, orange);
    
}

.info
{
    margin-top: 100px;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    background-color: orange;
    border: 2px solid black;
    border-radius: 12px;
}

.generalFrame
{
    min-height: 90vh !important;
    max-width: 100% !important;
    padding: 95px;
    background-image: linear-gradient(180deg, indigo, orange); 
    
}



.AppHeader {
    background-color: transparent;
    
    margin: 0;
    padding: 0;

    color: white;
    min-width: 100% !important;
    display: flex;
    
  }

  .pageCage{
    border: 2px solid green;
  }

  .pageNumberBox
  {
    background-color: orange;
    margin-left: -60px;
      
    min-width: 55%;
    padding:5px;
    min-height: 10%;
    align-items: start;
  }

  .pageNumber{
    margin: 0;
    padding: 0;
  }

  .buttonGroup
  {
    margin-left: 0 !important;
  }

  .buttonGroupItem
  {
    max-width: 40px;
    
  }